<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Resmi Kota Kendari</title>
    <link rel="stylesheet" href="stylelgn.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <img src="Evotkom.png" alt="Gambar Samping Login" class="login-image">
    <h3>Evotekom</h3>
    <h4>Connect Together</h4>

    <div class="wrapper">
        <form action="">
            <h1>Login</h1>
            <div class="input-box">
                <input type="username" placeholder="Masukkan NIM" required>
                <i class='bx bx-user'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Masukkan Password" required>
            
            </div>
          
            <button type="submit" class="btn">Masuk</button>
        </form>
        </div>
    </div>
</body>
</html>